{% assign paperByYear =
    site.papers | group_by_exp:"paper", "paper.year | date: '%Y'" %}
<ul class="list">
{% for year in paperByYear %}
  {% for paper in year.items %}
	<li>
	  <div class="article">
	  
		<h4 class="text-capitalize">{{ paper.title }}</h4>
		<span class="text-muted">{{ paper.author_list }}</span> <br/>
		<span class="label"><a>{{ paper.venue }},&nbsp;({{ paper.year }}).</a></span>
		
		{{ paper.excerpt | markdownify | truncatewords: 100 }} <br/>
		
		{% if paper.paper_link %}
			<button type="button" class="btn btn-info btn-sm"><a href="{{ paper.paper_link }}">Paper</a></button>
		{% elsif paper.pre_link %}	
			<button type="button" class="btn btn-info btn-sm"><a href="{{ paper.pre_link }}">Pre-print</a></button>
		{% else %}
			<button type="button" class="btn btn-info btn-sm disabled"><a>Paper</a></button>
		{% endif %}
		
		
		{% if paper.code_link == # %}
			<button type="button" class="btn btn-info btn-sm disabled"><a>Code</a></button>
		{% else %}
			<button type="button" class="btn btn-info btn-sm"><a href="{{ paper.code_link }}">Code</a></button>
		{% endif %}
	  </div>
	</li>
  {% endfor %}
  {% endfor %}
</ul>
