<section class="section  typeset">
<ul class="list  list--posts">
  {% for paper in site.papers %}
	<li class="item  item--post">
	  <article class="article  article--post">

		<h2>{{ paper.title }}</h2>
		<span class="text-muted">{{ paper.author_list }}</span>
		<span class="label  label--category"><a href="#">{{ paper.venue }}</a></span>
		
		{{ paper.excerpt | markdownify | truncatewords: 120 }}
			
		<button class="btn btn-light"><a href="{{ paper.paper_link }}">Paper</a></button>
		<button class="btn btn-light"><a href="{{ paper.code_link }}">Code</a></button>
	  </article>
	</li>
  {% endfor %}
</ul>
</section>
