{% if paginator.posts %}
  
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          <article class="article  article--post">

            {% if page.project-pic %}
				<a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ page.project-pic }}"><h2>{{ page.title }}</h2></img></a>
			{% else %}
				<a href="{{ site.baseurl }}{{ page.url }}"><h2>{{ page.title }}</h2></a>
			{% endif %}
            {% include post-meta.html %}
            {{ page.excerpt | markdownify | truncatewords: 60 }}

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
{% else %}
    <ul class="list  list--posts">
      {% for page in site.posts %}
        <li class="item  item--post">
          <article class="article  article--post">
		    {% if page.project-pic %}
				<a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ page.project-pic }}"><h2>{{ page.title }}</h2></img></a>
			{% else %}
				<a href="{{ site.baseurl }}{{ page.url }}"><h2>{{ page.title }}</h2></a>
			{% endif %}
            {% include post-meta.html %}
            {{ page.excerpt | markdownify | truncatewords: 60 }}

          </article>
        </li>
      {% endfor %}
    </ul>
{% endif %}
